.header-section {
    display: inline-flex;
    align-items: baseline;
    width: 70vw;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 430px) {
    .header-section {
      width: 85vw;
   }
  }
  