#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
a:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 0.5em;
  margin-bottom: 1em;
}

li {
  margin-bottom: 1em;
}

section {
  page-break-inside: avoid;
}

