#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
a:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 0.5em;
  margin-bottom: 1em;
}

li {
  margin-bottom: 1em;
}

section {
  page-break-inside: avoid;
}

#certificateBtn {
  background-color: #ffffff;
  color:black;
  border: #ffffff;
  padding: .5em;
  border-radius: .5em;
  margin-bottom: 10px;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  padding: 15px;
  text-align: left;
}